{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">
  {{ partial "sidebar.html" . }}
  <div class="content container">
    <h1>Posts tagged '#{{ .Data.Term }}'</h1>
    <hr>
    <div class="posts">
      {{ range .Data.Pages }}
      <article class="post">
        {{ partial "post-header.html" . }}
        <div class="post-content">
          {{ .Summary }}
          {{ if .Truncated }}
          <div class="read-more-link">
            <a href="{{ .Permalink }}">Read More…</a>
          </div>
          {{ end }}
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</body>
